@{

    var userName = User.FindFirstValue(ClaimTypes.Name);
    
    var Role = User.FindFirstValue(ClaimTypes.Role);

           }
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/admin/vendorsflag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/admin/vendorscss/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/admin/vendorsdaterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/admin/vendorschartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex align-items-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="~/admin/images/logo.svg" alt="logo" class="logo-dark" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/admin/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
                <h5 class="mb-0 font-weight-medium d-none d-lg-flex">Welcome stallar dashboard!</h5>
                <ul class="navbar-nav navbar-nav-right ml-auto">
                    
                    
                    
                   
                    <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle ml-2" src="~/admin/images/faces/face8.jpg" alt="Profile image"> <span class="font-weight-normal"> @userName </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-md rounded-circle" src="~/admin/images/faces/face8.jpg" alt="Profile image">
                                <p class="mb-1 mt-3">@userName</p>
                            </div>
                            <a  asp-controller="Course" asp-action="Logout"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">
                                <img class="img-xs rounded-circle" src="~/admin/images/faces/face8.jpg" alt="profile image">
                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">@userName</p>
                                <p class="designation">@Role</p>
                            </div>
                            <div class="icon-container">
                                <i class="icon-bubbles"></i>
                                <div class="dot-indicator bg-danger"></div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <a asp-area="AdminArea" asp-controller="Course" asp-action="Index">
                            <span class="nav-link">Courses</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="AdminArea" asp-controller="Slider" asp-action="Index">
                            <span class="menu-title">Slider</span>
                            <i class="icon-screen-desktop menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="AdminArea" asp-controller="Service" asp-action="Index">
                            <span class="menu-title">Services</span>
                            <i class="icon-layers menu-icon"></i>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="Edit">
                            <span class="menu-title">About</span>
                            <i class="icon-globe menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Notice" asp-action="Index">
                            <span class="menu-title">Notices</span>
                            <i class="icon-book-open menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Event" asp-action="Index">
                            <span class="menu-title">Events</span>
                            <i class="icon-chart menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">
                            <span class="menu-title">Blogs</span>
                            <i class="icon-grid menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Skill" asp-action="Index">
                            <span class="menu-title">Skills</span>
                            <i class="icon-grid menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Teacher" asp-action="Index">
                            <span class="menu-title">Teachers</span>
                            <i class="icon-grid menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            <span class="menu-title">Users</span>
                            <i class="icon-grid menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            @RenderBody()
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendors/moment/moment.min.js"></script>
    <script src="~/admin/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    @RenderSection("Scripts", false)
</body>
</html>
