@model TeacherVM


<div class="container mt-5">


    <form method="post" asp-controller="Teacher" asp-action="Create" enctype="multipart/form-data" class="mb-5">

        <table>
            <div class="form-group">
                <label asp-for="Photo">Image</label>
                <input class="form-control" style="width:300px" asp-for="Photo">
                <span class="text-danger" asp-validation-for="Teacher.Image"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Name">Name:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Name">
                <span class="text-danger" asp-validation-for="Teacher.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Position">Position:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Position">
                <span class="text-danger" asp-validation-for="Teacher.Position"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.About">About:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.About">
                <span class="text-danger" asp-validation-for="Teacher.About"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Degree">Degree:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Degree">
                <span class="text-danger" asp-validation-for="Teacher.Degree"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Experience">Experience:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Experience">
                <span class="text-danger" asp-validation-for="Teacher.Experience"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Faculty">Faculty:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Faculty">
                <span class="text-danger" asp-validation-for="Teacher.Faculty"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Mail">Datatime:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Mail">
                <span class="text-danger" asp-validation-for="Teacher.Mail"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Number">Number:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Number">
                <span class="text-danger" asp-validation-for="Teacher.Number"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Skype">Skype:</label>
                <input class="form-control" style="width:300px" asp-for="Teacher.Skype">
                <span class="text-danger" asp-validation-for="Teacher.Skype"></span>
            </div>

        </table>
        @if (Model.Skills != null)
        {
            @for (int i = 0; i < Model.Skills.Count(); i++)
            {
                <tr>
                    <td>
                        <label>@Model.Skills[i].Name</label>
                        <input type="hidden" asp-for="@Model.Skills[i].Name" />
                        <input type="hidden" asp-for="@Model.Skills[i]" />
                        <input type="checkbox" asp-for="@Model.Skills[i].IsSelected" />
                        <input type="hidden" asp-for="@Model.Skills[i].Id" />
                        <input type="text" asp-for="Percents" placeholder="Percent" />
                    </td>
                </tr>
            }
        }
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}
